* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding-top: 20px;
}

h1 {
    text-align: center;
}

.box:nth-child(4) .mini{
    background-color: darkkhaki;
    color: aliceblue;
}

.box:nth-child(3) .mini{
    background-color: brown;
    color: aliceblue;
}

.box:nth-child(2) .mini{
    background-color: orangered;
    color: aliceblue;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
    .box {
        background-color: grey;
        border: 3px solid black;
        width: 30%;
        float: left;
        margin: 15px;
        padding: 10px;
    }
    .mini {
        position: relative;
        bottom: 11px;
        left: 73%;
        border: 2px solid black;
        width: 30%;
        font-size: 1.25em;
        text-align: center;
    }
}

/* TABLET VERSION */
@media (min-width: 768px) and (max-width:991px) {
    .box {
        background-color: grey;
        border: 3px solid black;
        width: 46%;
        float: left;
        margin: 15px;
        padding: 10px;
    }
    .mini {
        position: relative;
        bottom: 11px;
        left: 73%;
        border: 2px solid black;
        width: 30%;
        font-size: 1.25em;
        text-align: center;
    }
    .box:nth-child(4){
        width: 95.5%;
    }
    .box:nth-child(4) .mini{
        position: relative;
        bottom: 11px;
        left: 81.5%;
        width: 20%;
    }
}

/* MOBILE VERSION */
@media (max-width:767px) {
    .box {
        background-color: grey;
        border: 3px solid black;
        width: 80%;
        float: left;
        margin: 10px 50px 10px 50px;
        padding: 15px;
    }
    .mini {
        position: relative;
        bottom: 17px;
        left: 73.5%;
        border: 2px solid black;
        width: 30%;
        font-size: 1.25em;
        text-align: center;
    }
}